.ins-srv {
    margin-top: 3em;
    display: grid;
    place-items: center;
    row-gap: 4em;
}

.ins-srv__heading {
	font-size: 3rem;
	font-weight: 500;
    text-align: center;
}


@media only screen and (min-width: 900px) {
    .ins-srv {
        grid: max-content 1fr / repeat(3, minmax(25rem, 35rem));
        place-content: center;
        margin-bottom: 8rem;
        column-gap: 3em;
    }

    .ins-srv__heading {
        grid-column: 2;
        place-self: center;
    }
}