.nav__list--mobile {
	grid-column: 1;
    list-style: none;
    display: grid;
    row-gap: 1em;
    margin-top: 1em;
}

.nav__item {
    font-size: 1.5rem;
}

.nav__link {
    text-decoration: none;
    color: var(--color-white);
}

.nav__link:focus,
.nav__link:hover {
    color: var(--color-yellow)
}

@media only screen and (min-width: 600px) {
    .nav__list--mobile {
        display: none;
    }
}