footer {
    background-color: var(--color-blue);
    padding: 2em 5em;
    display: grid;
}

.footer__title {
    color: var(--color-yellow);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 0.5em 0;
}

.footer__links {
    display: grid;
}

.footer__link {
    text-decoration: none;
    color: var(--color-white);
    text-transform: capitalize;
    font-size: 1.2rem;
    margin: 0.05em 0;
}

.footer__link:hover,
.footer__link:focus,
.footer__link:active {
    color: var(--color-yellow);
}