*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

:root {
  --color-red: #8B2D3D;
  --color-black: #000004;
  --color-blue: #094D71;
  --color-white: #FBFEF9;
  --color-yellow: #EFBB43;
  --color-white-rgb: 251, 254, 249;
  --color-black-rgb: 0, 0, 4;
}

body {
  font-family: 'Roboto', sans-serif;
}
